

<section id="search" ng-controller="ScoresController">
  <h4 id="description">Enter the name of a NYC charter school below.</h4>


  <h3> {{ search }} </h3>

  <form class="form" ng-submit="sendSearch()">
    <input type="text" ng-model="search_term" placeholder="...school name">
    <input type="submit">
  </form>

  <!-- <div class="bridge">
        <%= image_tag "bridge.jpg"%>
  </div> -->

<!-- <img class="bridge" src="/assets/images/bridge.jpg" alt="" /> -->

  <ul id="results">

    <img ng-show="loading" src="https://media.giphy.com/media/CD1tWaGFs5teM/giphy.gif" alt="" />

    <li  ng-repeat="score in scores">
      <h3>{{ score.name }}</h3>
      <p>
        Principal:{{ score.admin }}<br />
        Progress Report Type: {{ score.intervention }}<br />
        Grade Level:{{ score.level }}<br />
        Peer Index:{{score.peer}}<br />
        2010-2011 Overall Grade:{{ score.grade }}<br />
        2010-2011 Overall Score : {{score.gradeNum}}<br />
      </p>

    </li>
    <li><button class="load" ng-click="loadMore()">Load More</button></li>
  </ul>



</section>



<%= image_tag "school.jpg", class: 'bridge'%>


<!-- t.string :name
t.string :admin
t.string :intervention
t.string :level
t.integer :peer
t.string :grade
t.integer :gradeNum -->
