<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<section id="search" ng-controller="ScoresController">
  <h4 id="description">Enter the name of a NYC charter school below.</h4>


  <h3> {{ search }} </h3>

  <form class="form" ng-submit="sendSearch()">
    <input type="text" ng-model="search_term" placeholder="...school name">
    <input class="submit" type="submit">
  </form>

  <!-- <div class="bridge">
        <%= image_tag "bridge.jpg"%>
  </div> -->

<!-- <img class="bridge" src="/assets/images/bridge.jpg" alt="" /> -->

  <ul id="results">
    <li><button class="load" ng-click="loadMore()">Load More</button></li>

    <img ng-show="loading" src="https://media.giphy.com/media/CD1tWaGFs5teM/giphy.gif" alt="" />

    <li  ng-repeat="score in scores">
      <div class="blurb">
      <h3 class="">{{ score.name }}</h3>

      <div class="CSSTableGenerator">
        <table>
          <tr>
            <td class="principal">
              Principal:{{ score.admin }} 
            </td>
          </tr>
          <tr>
            <td>
              Progress Report Type: {{ score.intervention }}
            </td>
            <td>
              2010-2011 Overall Grade:{{ score.grade }}
            </td>
            <td>
              2010-2011 Overall Score : {{score.gradeNum}}
            </td>
          </tr>
        </table>
        <hr>
      </div>

        <!-- <p class="">
          <h4>Principal:  {{ score.admin }}</h4><br />
          Progress Report Type:<br /> {{ score.intervention }}<br />
          <!-- Grade Level:{{ score.level }}<br />
          Peer Index:{{score.peer}}<br /> -->
          <!-- 2010-2011 Overall Grade:<br />{{ score.grade }}<br />
          2010-2011 Overall Score :<br /> {{score.gradeNum}}<br />
        </p> -->
      </div>

    </li>
  </ul>



</section>



<%= image_tag "school.jpg", class: 'bridge'%>
